.filter-container {
  margin-right: 100px;
  background-color: sandybrown;
  /* margin-left: 100%; */
}

.drop-down {
  padding: 5px;
  width: 100px;
}

.select {
  width: 200px;
  margin-left: 80%;
}
